openapi: 3.0.3
info:
  title: Dokumen API Cloud Function PORYEK 3- OpenAPI 3.0
  description: >-
    Dokumentasi API untuk Proyek kami
  termsOfService: https://github.com/serbaevents
  contact:
    email: kholiqnnabdul@gmail.com
  license:
    name: GCF Package
    url: https://pkg.go.dev/github.com/serbaevents/backendSE
  version: 1.0.11
externalDocs:
  description: Swagger
  url: https://github.com/serbaevents/swagger
servers:
  - url: https://asia-southeast2-proven-wavelet-401905.cloudfunctions.net
tags:
  - name: auth
    description: Authentikasi
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/serbaevents/backendSE
  - name: register
    description: Register Account
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/serbaevents/backendSE
  - name: data
    description: Data Untuk akses GIS
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/serbaevents/backendSE
paths:
  /register:
    post:
      tags:
        - register
      summary: Register User Without Token
      description: Daftar Akun User
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pengguna"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResponse"
          examples:
            user_registered:
              value:
                status: true
                message: user berhasil terdaftar
        "405":
          description: Invalid input

  /logintset:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Login"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
          examples:
            login_successful:
              value:
                status: true
                message: selamat datang user
                token: "example_token"
        "405":
          description: Invalid input

  /testinsertb:
    put:
      tags:
        - data
      summary: Insert Data
      description: UInsert data gcf
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tiket"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsertDataResponse"
        "405":
          description: Invalid input
      security:
        - Login:
            - write: apiKey
            - read: apiKey

  /getdataevent:
    get:
      tags:
        - data
      summary: Get Data Serba Events
      description: Header auth
      operationId: GetdataEvents
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDataResponse"
          examples:
            get_data_success:
              value:
                status: true
                message: berhasil ambil data
                data:
                  tujuanEvent: "Event Coldplay 122"
                  jemputan: "Terminal Mangga Sari jakarta timur st.12 jalan soekarno hatta"
                  keterangan: "Jam Jemputan 15:00 - jam pulang 18:00 "
                  harga: "RP 80.0000"
        "400":
          description: Invalid status value
      security:
        - Login:
            - write: apiKey
            - read: apiKey

components:
  schemas:
    Pengguna:
      type: object
      properties:
        NamaLengkap:
          type: string
          example: mizara
        TanggalLahir:
          type: string
          example: 30/08/2001
        JenisKelamin:
          type: string
          example: laki laki
        NomorHP:
          type: string
          example: 081234567890
        Alamat:
          type: string
          example: purwakarta n0.38
        Akun:
          type: object
          properties:
            Email:
              type: string
              example: nizaraaa@gmail.com
            Password:
              type: string
              example: nizar123

    RegisterResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        message:
          type: string
          example: user berhasil terdaftar

    Login:
      type: object
      properties:
        Email:
          type: string
          example: sahjatea@gmail.com
        Password:
          type: string
          example: sahijabandung

    LoginResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        message:
          type: string
          example: selamat datang user
        token:
          type: string
          example: "example_token"

    Tiket:
      type: object
      properties:
        TujuanEvent:
          type: string
          example: Event Coldplay 123
        Jemputan:
          type: string
          example: Terminal Mangga Sari jakarta timur st.12 jalan jaya
        Keterangan:
          type: string
          example: Jam Jemputan 15:00 - jam pulan 22:00
        Harga:
          type: string
          example: RP 100.0000

    InsertDataResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        message:
          type: string
          example: successful Insert Data

    GetDataResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        message:
          type: string
          example: berhasil ambil data
        data:
          $ref: "#/components/schemas/Tiket"
